* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
}

/* Main Container */
.main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;

}

a {
    color: rgb(194, 194, 194);
}

a:hover {
    color: #ff0068;
}

p {
    font-size: 15px;
}

.cont4 i {
    font-size: 40px;
}

/* Main Container */

/* NavBar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%;
    margin: auto; */
    color: #ff0068;
    border: 1px solid #e2e3e3;
}

.navbar a {
    color: #777;
    text-decoration: none;
    padding-right: 50px;
    font-size: 15px;
    gap: 55px;
}

.navbar a:hover {
    color: #ff0068;
}

select {
    padding: 10px;
    height: 7vh;
    color: white;
    background-color: #ff0068;
}

select:hover {
    background-color: #a30041;
}

/* NavBar */


/* Container 1 */
.cont1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    width: 80%;
    margin: auto;
    border: 1px transparent;
    background-color: white;
}

.cont1 h2 {
    margin-top: 60px;
    padding: 20px;
}

.cont1 input {
    margin: auto;
    width: 49vw;
    height: 6vh;
    padding-left: 15px;
    border-color: #ccc;
}

.cont1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 6vw;
    color: white;
    background-color: #ff0068;
    font-weight: bold;
}

.cont1 button:hover {
    background-color: #a30041;
}

.cont1 img {
    width: 40%;
}

.cont1 p {
    padding: 20px;
}

/* Container 1 */


/* Container 2 */
.cont2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 30px 0 40px 0;
    text-align: center;
    border: 1px transparent;
    color: #777;
}

.cont2 h2 {
    padding: 10px;

}

/* Container 2 */


/* Container 3 */
.cont3 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 2% 0 2% 0;
    gap: 100px;
}

.cont3 li {
    padding: 1% 0 1% 0;
}

/* Container 3 */


/* Container 4 */
.cont4 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 4% 0 4% 0;
    width: 80%;
    margin: auto;
}

.line1 {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.line2 {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2% 0 3% 0;
    width: 75%;
}

.bi {
    height: 5vh;
    width: 5vw;
}

/* Container 4 */


/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
}

.links {
    display: flex;
    column-gap: 25px;

}

.links a {
    text-decoration: none;
}

/* Footer */


/* Media Quries */
@media screen and (max-width: 992px) {
    .main {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        /* width: 90%; */
        /* margin: auto; */
    }

    i {
        font-size: 16px;
    }

    .navbar {
        width: 100%;
        height: 5vh;
        border: 1px solid #e2e3e3;
        /* margin: auto; */
    }

    .navbar a {
        display: none;
    }

    select {
        display: none;
    }

    .cont1 {
        width: 90%;
        margin: auto;
    }

    .cont1 input {
        height: 3vh;

    }

    .cont1 button {
        width: 12vw;
        height: 3vh;
    }

    .cont1 img {
        width: 80%;
    }

    .cont2 {
        width: 90%;
        margin: auto;
        /* margin: 17px 0 17px 0; */
    }

    hr {
        width: 100%;
        margin: auto;
    }

    .cont3 {
        flex-direction: column;
        row-gap: 20px;
    }

    .cont4 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin: 230px 17px 230px 60px; */
    }

    .line1 {
        flex-direction: column;
        /* row-gap: 12px; */
    }

    .line2 {
        flex-direction: column;
        /* row-gap: 12px; */
    }

    .content {
        width: 90%;
        font-size: 19px;
    }
}

/* Media Quries */